Thumbs.db

# ignore library build artifacts
/**/.settings/
/**/build/
/**/ov/source/libml/

# include rte build folder
!/build/
# ignore rte build artifacts
/build/acplt/
/build/acplt.build/
/build/*.log