[submodule "ov"]
	path = ov
	url = /home/holger/githubmirror/ov/
[submodule "fb"]
	path = fb
	url = /home/holger/githubmirror/fb/
[submodule "ks/ksbase"]
	path = ks/ksbase
	url = /home/holger/githubmirror/ks/ksbase/
[submodule "ks/TCPbind"]
	path = ks/TCPbind
	url = /home/holger/githubmirror/ks/TCPbind/
[submodule "ks/ksxdr"]
	path = ks/ksxdr
	url = /home/holger/githubmirror/ks/ksxdr/
[submodule "ks/kshttp"]
	path = ks/kshttp
	url = /home/holger/githubmirror/ks/kshttp/
[submodule "ks/ksapi"]
	path = ks/ksapi
	url = /home/holger/githubmirror/ks/ksapi
[submodule "ks/fbcomlib"]
	path = ks/fbcomlib
	url = /home/holger/githubmirror/ks/fbcomlib
[submodule "hmi/cshmi"]
	path = hmi/cshmi
	url = /home/holger/githubmirror/hmi/cshmi/
